.body{
   position: relative;

}
.text-red{
    color: red;
}

.text-green{
    color: green;
}

.custom{
    cursor: pointer;
}


/* Modal Content */
.custom-modal-content {
   position: absolute;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
   top: 80px;
  right: 80px;

}

/* The Close Button */
.custom-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.custom-close:hover,
.custom-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}